*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: "Montserrat", sans-serif;
    background-image: url('/img/mountains-img.webp');
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
}

header{
    background-color: rgb(255, 255, 255);
    padding: 1.3rem;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 10;
    opacity: 0.9;
}

ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none; 
}

li{
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
}

a{
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}

a:hover{
    cursor: pointer;
    color: rgba(139, 0, 139, 0.733); 
}

#actual-page{
    color: darkmagenta; 
}

h1{
    font-weight: 700;
    color: white;
    font-size: 3rem;
    margin: 2rem;
    padding-top: 4rem;
    text-transform: uppercase;
    text-shadow: 2px 2px #8e8c8c;
}

.user-img{
    width: 10rem;
    margin: auto;
    margin-bottom: 1rem;
    border-radius: 100%;
}

.more-info{
    display: none;
}

.btn-close{
    display: none;
}

button{
    padding: 0.5rem;
    width: 50%;
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: 10px;
    background: linear-gradient(135deg, #CCB1F9, #804EBA);
    font-weight: 700;
    border: none;
    height: 3rem;
    transition: transform 0.2s ease;
}

button:hover{
    cursor: pointer;
    transform: scale(1.03);
}

.usercards-container{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 auto;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 0 1.5rem 0 1.5rem;
}

.user-card{
    width: 22rem;  
    padding: 2rem; 
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.563);
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(144, 136, 136, 0.192);
    backdrop-filter: blur(12px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.user-card h3, p{
    margin: 0.2rem;
}

.user-card p{
    font-size: 0.9rem;
}

.user-card:hover{
    box-shadow: 0 5px 10px rgba(12, 12, 12, 0.521);
}

footer{
    background-color: rgb(255, 255, 255);
    padding: 1.4rem;
    margin-top: 4rem;
    opacity: 0.9;
    font-weight: 600;
}
